<a href="https://colab.research.google.com/github/nanauman/CIDM5310-Panda-Assignments/blob/main/Activity2_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Activity 2.01**

In [9]:
#
# required libraries
#
import pandas as pd
#

In [10]:
#
# read a Series from a csv file
#
fname = '/Datasets/US_GDP.csv'
my_data = pd.read_csv(fname)
my_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [11]:
my_data.dtypes

date     object
GDP     float64
dtype: object

In [12]:
my_data['date'] = pd.to_datetime(my_data['date'])
my_data.set_index('date', inplace = True)
my_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [13]:
my_data.to_csv('/Datasets/US_GDP_date_index.csv')

**New CSV File can be found here: /Datasets/US_GDP_date_index.csv**